#footer
    background-color: #4b4c58
    color: white
    font-family: 'poppinsregular'
    
#footergrey
    margin-left: 150px
    margin-right: 150px
    padding-top: 70px
    padding-bottom: 70px
    
.footergreyelement
    width: 30%
    padding-left: 30px
    padding-right: 30px
    h4
        margin-bottom: 30px

#pgrey
    color: #868686

#footerbuttons
    position: relative
    width: 100%
    button
        color: #868686
        background-color: #4b4c58
        border: solid 1px #868686
        border-radius: 5px
        margin-right: 9px
        margin-bottom: 7px
        padding-left: 12px
        padding-right: 12px
        padding-top: 5px
        padding-bottom: 5px

#footerblack
    background-color: black
    p
       color: #868686
       padding-top: 30px
       padding-bottom: 30px
       margin: 0
       text-align: center
