header
    padding-top: 50px
    
// NAVBAR

#divh1header
    font-family: 'poppinsbold'
    text-align: center
    margin-bottom: 30px

.stickytitle
    position: fixed
    top: 0
    z-index: 2
    padding-top: 10px
    padding-left: 10px

.sticky
    position: fixed
    top: 0
    z-index: 1

#divnav
    width: 100%
    margin: auto
    padding-top: 20px
    padding-bottom: 20px
    padding-left: 300px
    padding-right: 300px
    background-color: white

.navelement, .navelement:hover
    text-decoration: none
    font-family: 'poppinsregular'
    font-size: 16px
    color: black
    padding-top: 2px

#buttonwhite
    width: 20px
    height: 20px
    background-color: white
    border: 1px solid grey
    border-radius: 5px

#buttonblack
    width: 20px
    height: 20px
    background-color: black
    border: 1px solid grey
    border-radius: 5px

#buttonconnexion
    font-size: 16px
    background-color: grey
    color: white
    border: solid 0px
    border-radius: 5px
    padding-top: 4px
    padding-bottom: 4px
    padding-left: 7px
    padding-right: 7px

// DROPDOWN

.dropdown
    text-align: center
    display: none
    margin-bottom: 50px
    button
        background-color: black
        font-family: 'poppinsregular'
        padding-left: 30px
        padding-right: 30px
    .dropdownmenu
        font-family: 'poppinsregular'


// HEADER 

#divshopat
    display: flex
    justify-content: around
    background-color: #F3F3F3
    padding-left: 300px
    padding-right: 300px
    padding-bottom: 100px
    #divleftshopat
        padding-top: 90px
        width: 650px

#h3shopat
    color: #c42b2b
    font-family: 'poppinsregular'
    font-size: 50px
    margin-bottom: 0

#h1shopat
    font-family: 'poppinsbold'
    font-size: 70px
    margin-bottom: 20px

#pshopat
    margin-bottom: 30px

#buttonshopat
    font-family: 'poppinslight'
    font-size: 14px
    background-color: #c42b2b
    color: white
    border: solid 0px
    border-radius: 40px
    padding-top: 15px
    padding-bottom: 15px
    padding-left: 34px
    padding-right: 34px

#divimgshopat
    width: 400px
    height: 300px
    img
        width: 100%
        height: auto

// MEDIA QUERIES

// IPHONE X
@media screen and (min-width:375px) and (max-width:812px)
    nav
        #divnav    
            display: none !important
    .sticky
        display: none
    .stickytitle
        display: none
    #divh1header
        display: none
    .dropdown
        display: block 
    #divshopat
        display: block
        padding-left: 20px
        padding-right: 20px
        padding-bottom: 50px
        #divleftshopat
            padding-top: 40px
            width: 30px
            #h3shopat
                color: #c42b2b
                font-family: 'poppinsregular'
                font-size: 30px
                margin-bottom: 0
            #h1shopat
                font-family: 'poppinsbold'
                font-size: 50px
                margin-bottom: 20px
        #divimgshopat
            display: none
        #pshopat
            margin-bottom: 15px
            width: 300px
        #buttonshopat
            width: 160px

// IPAD
@media screen and (min-width:813px) and (max-width:1024px)
