#sectioncinqrow
    text-align: center
    font-family: 'poppinsregular'
    margin-top: 50px
    margin-bottom: 50px
    
.customers
    background-color: #e4e2e2
    padding-top: 50px
    padding-bottom: 30px
    padding-left: 30px
    padding-right: 30px
    margin-left: 20px
    margin-right: 20px
    i
        font-size: 30px
        margin-bottom: 40px
    h5
        margin-bottom: 40px
        font-family: 'poppinsbold'
    p
        margin-bottom: 40px

#shipping
    background-color: #c42b2b
    padding-top: 50px
    padding-bottom: 30px
    padding-left: 30px
    padding-right: 30px
    i
        font-size: 30px
        margin-bottom: 40px
        color: white
    h5
        margin-bottom: 40px
        font-family: 'poppinsbold'
        color: white
    p
        margin-bottom: 40px
        color: white

.customersbutton
    background-color: #5a5a5a
    color: white
    border-radius: 5px
    padding-left: 15px
    padding-right: 15px
    padding-top: 7px
    padding-bottom: 7px
    border: solid 0

#shippingbutton
    background-color: white
    color: #5a5a5a
    border-radius: 5px
    padding-left: 15px
    padding-right: 15px
    padding-top: 7px
    padding-bottom: 7px
    border: solid 0