#sectionquatre
    margin-top: 80px

#carousel
    overflow: hidden
    margin-top: 60px
    display: flex

#carouselpano
    display: flex
    transition: 0.5s

.carouselitem
    margin-left: 5px
    margin-right: 5px
    .imgrecentbis
        // width: 267px
        width: 33vh
        img
            width: 100%

#titlecarousel
    h4
        text-align: center
        margin-bottom: 50px

.map
    display: flex
    justify-content: center
    margin-top: 20px
    margin-bottom: 50px
    button
        border-radius: 100%
        border: solid 2px grey
        width: 20px
        height: 20px
        margin-left: 10px
        margin-right: 10px
        background-color: white
    button:hover 
        background-color: black
        transition: 0.5s

// MEDIA QUERIES

// GALAXY FOLD
@media screen and (min-width:280px) and (max-width:319px)
    .carouselitem
        margin-left: 5px
        margin-right: 5px
        width: 86vw
        .imgrecentbis
            width: 85vw
            img
                width: 100%

// SMALL PHONES
@media screen and (min-width:320px) and (max-width:359px)
    .carouselitem
        margin-left: 5px
        margin-right: 5px
        width: 49vh
        .imgrecentbis
            width: 48vh
            img
                width: 100%

// SMALL PHONES +
@media screen and (min-width:360px) and (max-width:374px)
    .carouselitem
        margin-left: 5px
        margin-right: 5px
        width: 50vh
        .imgrecentbis
            width: 49vh
            img
                width: 100%

// IPHONE X
@media screen and (min-width:375px) and (max-width:410px)
    .carouselitem
        margin-left: 4px
        margin-right: 4px
        width: 90vw
        .imgrecentbis
            width: 89vw
            img
                
// PIXEL 2
@media screen and (min-width:411px) and (max-width:539px)
    .carouselitem
        margin-left: 5px
        margin-right: 5px
        width: 90.5vw
        .imgrecentbis
            width: 90vw
            img
                width: 100%

// SURFACE DUO
@media screen and (min-width:540px) and (max-width:767px)
    .carouselitem
        margin-left: 5px
        margin-right: 5px
        width: 93vw
        .imgrecentbis
            width: 92vw
            img
                width: 100%

// IPAD
@media screen and (min-width:768px) and (max-width:1023px)
    .carouselitem
        margin-left: 5px
        margin-right: 5px
        width: 33.2vh
    .imgrecentbis
        width: 32.5vh
        img
            width: 100%

// IPAD PRO
@media screen and (min-width:1024px) and (max-width:1300px)
    .carouselitem
        margin-left: 5px
        margin-right: 5px
        width: 34vh
    .imgrecentbis
        width: 33vh
        img
            width: 100%