#sectionun
    margin-top: 20px
    margin-bottom: 80px
    
#divlivingroom
    width: 32%
    background-image: url("../img/services/service-1.jpg")
    background-size: cover

#divsaleitems
    width: 32%
    background-image: url("../img/services/service-2.jpg")
    background-size: cover

#divclothes
    width: 32%
    background-image: url("../img/services/service-3.jpg")
    background-size: cover

.h4troisimg
    text-align: center
    color: white
    margin-top: 50px
    margin-bottom: 30px
    font-family: 'poppinsregular'

.ligneblanche
    height: 2px
    background-color: white
    width: 80%
    margin: auto
    margin-bottom: 50px

// MEDIA QUERIES

// IPHONE X
@media screen and (min-width:375px) and (max-width:767px)
    #sectionun
        margin-bottom: 50px
    .h4troisimg
        font-size: 14px

// IPAD
@media screen and (min-width:768px) and (max-width:1024px)
    #sectionun
        margin-bottom: 50px
    .h4troisimg
        font-size: 22px


