#sectionquatre
    margin-top: 80px

#carousel
    overflow: hidden
    margin-top: 60px
    display: flex

#carouselpano
    display: flex
    transition: 0.5s

.carouselitem
    margin-left: 5px
    margin-right: 5px
    .imgrecentbis
        // width: 267px
        width: 33vh
        img
            width: 100%

#titlecarousel
    h4
        text-align: center
        margin-bottom: 50px

.map
    display: flex
    justify-content: center
    margin-top: 20px
    margin-bottom: 50px
    button
        border-radius: 100%
        border: solid 2px grey
        width: 20px
        height: 20px
        margin-left: 10px
        margin-right: 10px
        background-color: white
    button:hover 
        background-color: black
        transition: 0.5s

// MEDIA QUERIES

// IPHONE X
@media screen and (min-width:375px) and (max-width:767px)
    .carouselitem
        margin-left: 5px
        margin-right: 5px
        width: 42vh
        .imgrecentbis
            width: 41vh
            img
                width: 100%

// IPAD
@media screen and (min-width:768px) and (max-width:1024px)
    .carouselitem
        margin-left: 5px
        margin-right: 5px
        width: 33.2vh
    .imgrecentbis
        width: 32.5vh
        img
            width: 100%
    