#sectiontrois
    background-image: url("../img/cta-bg.jpg")
    background-attachment: fixed
    background-size: cover
    height: 850px
    position: relative

#divtextesectiontrois
    margin: 0
    text-align: center
    padding-top: 430px
    h1
        color: white
        font-family: 'poppinsregular'
        font-size: 50px
    button
        margin-top: 20px
        font-family: 'poppinsregular'
        color: white
        border: solid 0px
        background-color: #c42b2b
        border-radius: 7px
        padding-top: 7px
        padding-bottom: 7px
        padding-left: 15px
        padding-right: 15px

// MEDIA QUERIES

// IPHONE X
@media screen and (min-width:375px) and (max-width:812px)
    #sectiontrois
        height: 400px
    #divtextesectiontrois
        margin: 0
        text-align: center
        padding-top: 160px
        h1
            color: white
            font-family: 'poppinsregular'
            font-size: 26px

// IPAD
@media screen and (min-width:813px) and (max-width:1024px)
