#sectioncinqrow
    display: flex
    justify-content: around
    text-align: center
    font-family: 'poppinsregular'
    margin-top: 50px
    margin-bottom: 50px
    
.customers
    background-color: #e4e2e2
    padding-top: 50px
    padding-bottom: 30px
    padding-left: 30px
    padding-right: 30px
    margin-left: 20px
    margin-right: 20px
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    i
        font-size: 30px
        margin-bottom: 40px
    h5
        margin-bottom: 40px
        font-family: 'poppinsbold'
    p
        margin-bottom: 40px

#shipping
    background-color: #c42b2b
    padding-top: 50px
    padding-bottom: 30px
    padding-left: 30px
    padding-right: 30px
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    i
        font-size: 30px
        margin-bottom: 40px
        color: white
    h5
        margin-bottom: 40px
        font-family: 'poppinsbold'
        color: white
    p
        margin-bottom: 40px
        color: white

.customersbutton
    background-color: #5a5a5a
    color: white
    border-radius: 5px
    padding-left: 15px
    padding-right: 15px
    padding-top: 7px
    padding-bottom: 7px
    border: solid 0

#shippingbutton
    background-color: white
    color: #5a5a5a
    border-radius: 5px
    padding-left: 15px
    padding-right: 15px
    padding-top: 7px
    padding-bottom: 7px
    border: solid 0

.fade-in
    opacity: 0
    transform: translateY(3vh)
    visibility: hidden
    transition: opacity 1s ease-in, transform 1.2s ease-out

.fade-in.appear
    opacity: 1
    transform: none
    visibility: visible

// MEDIA QUERIES

// GALAXY FOLD
@media screen and (min-width:280px) and (max-width:319px)
    #sectioncinqrow
        flex-wrap: wrap
        margin-top: 0
        padding-top: 0
        margin-bottom: 0
        padding-bottom: 0
    .customers
        margin-left: 0
        margin-right: 0
        margin-bottom: 0
    #shipping
        margin-left: 0
        margin-right: 0

// SMALL PHONES
@media screen and (min-width:320px) and (max-width:374px)
    #sectioncinqrow
        flex-wrap: wrap
        margin-top: 0
        padding-top: 0
        margin-bottom: 0
        padding-bottom: 0
    .customers
        margin-left: 0
        margin-right: 0
        margin-bottom: 0
    #shipping
        margin-left: 0
        margin-right: 0

// IPHONE X
@media screen and (min-width:375px) and (max-width:767px)
    #sectioncinqrow
        flex-wrap: wrap
        margin-top: 0
        padding-top: 0
        margin-bottom: 0
        padding-bottom: 0
    .customers
        margin-left: 0
        margin-right: 0
        margin-bottom: 0
    #shipping
        margin-left: 0
        margin-right: 0
        
// IPAD
@media screen and (min-width:768px) and (max-width:1024px)
    #sectioncinq
    #sectioncinqrow
        flex-wrap: nowrap
        .customers
            padding-top: 40px
            padding-bottom: 20px
            padding-left: 15px
            padding-right: 15px
            margin-left: 10px
            margin-right: 10px
            h5
                font-size: 12px
            p
                font-size: 12px
        #shipping
            padding-top: 40px
            padding-bottom: 20px
            padding-left: 15px
            padding-right: 15px
            margin-left: 5px
            margin-right: 5px
            h5
                font-size: 12px
            p
                font-size: 12px