#sectionquatre
    margin-top: 80px
    
#carousel
    position: relative
    overflow: hidden
    margin-top: 60px

.carouselitem
    float: left
    flex-wrap: nowrap
    width: 23%
    height: 300px
    margin-left: 5px
    margin-right: 5px

// #carouselpano
//     display: flex
//     flex-wrap: nowrap

#carouselpano::after
    content: ''
    clear: both
    display: table

#titlecarousel
    h4
        text-align: center
        margin-bottom: 50px


// carousel__container = carouselpano

// 4 images à 23%